.footer {
  background-color: #ff6600;
  color: #fff;
  padding: 20px 20px 10px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 20px 10px 20px;
}

.footer-section h3,
.footer-section h2 {
  color: white;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 15px;
  margin-top: 20px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0 15px 15px 15px;
  font-size: medium;
  /* font-size: 13px; */
  color: #fff;
}

.socials a {
  color: #fff;
  margin-left: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #fff;
}
