.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  position: relative; /* <-- Important */
}

.inner-container{
  background-color: white;
    padding: 0.3rem 0.8rem;
  border-radius: 6px;
}

.search-container form {
  display: flex;
  width: 100%;

}

.search-input {
  flex: 1;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.search-input:focus {
  border-color: #ff6600;
}

.submitBtn {
  padding: 0.5rem 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitBtn:hover {
  background-color: #e65c00;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  border: 1px solid #ccc;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  width: 60%; /* Match input width */
  position: absolute; /* <-- Important */
  top: 100%; /* Below the input field */
  left: 2.5rem;
  z-index: 99;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ff6600; /* Orange separator line */
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
  color: #333;
}
