.search-container{
    display: flex;
    align-items: center;
    gap: 20px;

}
.search-input{
    padding: 10px;
    border-radius: 20px;
    border: 1px #007bff solid;
    
}

.submitBtn{
    border: 1px #007bff solid;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;

}